USE [master]
GO
/****** Object:  Database [Economy]    Script Date: 19.05.2019 14:35:27 ******/
CREATE DATABASE [Economy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Economy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Economy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Economy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Economy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Economy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Economy]
GO
USE [Economy]
GO
/****** Object:  Table [dbo].[Recession]    Script Date: 19.05.2019 14:35:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recession](
	[RecessionId] [int] NULL,
	[RecessionStartDate] [datetime] NULL,
	[RecessionEndDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YieldCurve]    Script Date: 19.05.2019 14:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YieldCurve](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObservationDate] [datetime] NULL,
	[T10Y3M] [varchar](50) NULL,
	[T10Y2Y] [varchar](50) NULL,
	[RecessionId] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[YieldCurveView]    Script Date: 19.05.2019 14:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[YieldCurveView] AS
SELECT yc.ObservationDate, cast(yc.T10Y3M as decimal(5,2)) as T10Y3M, cast(yc.T10Y2Y as decimal(5,2)) as T10Y2Y, 
rc.RecessionStartDate, rc.RecessionEndDate,  (-2E-05*(yc.T10Y3M) + 2.479) as Trend_T10Y3M, (-2E-05*(yc.T10Y2Y) + 2.479) as Trend_T10Y2Y
FROM dbo.YieldCurve yc
FULL OUTER JOIN dbo.Recession rc ON yc.RecessionId = rc.RecessionId
GO
/****** Object:  Table [dbo].[T10Y2Y]    Script Date: 19.05.2019 14:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T10Y2Y](
	[DATE] [varchar](50) NULL,
	[T10Y2Y] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T10Y3M]    Script Date: 19.05.2019 14:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T10Y3M](
	[DATE] [varchar](50) NULL,
	[T10Y3M] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
